<div class="col-xs-12 col-md-6 center">
  <form method="post">
    <input type="hidden" name="edit" value="{{edit}}">
    <div class="row">
      <div class="col-md-3">
        Title:
      </div>
      <div class="col-md-9">
        <input type="text" name="title" value="{{title}}" class="textinput"><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
          Category:
      </div>
      <div class="col-md-9">
        <input type="text" name="category"  value="{{category}}" class="textinput">
      </div>
    </div>
    Article:<br>
    <div class="col-xs-12">
    <textarea name="post" class="col-xs-12">{{post}}</textarea><br>
  </div>
    <input type="submit" class="submit" value="Post!"><a href="/">Cancel</a>
  </form>
</div>
