{% extends 'main.html' %}
{% block content %}
<div class="col-xs-12 col-md-6 pagination-centered">
  <form method="post">
    <input type="hidden" name="edit" value="{{edit}}">
    <input type="hidden" name="articleid" value="{{articleid}}">
    <input type="hidden" name="cid" value="{{commentid}}"
    <div class="row">
      <div class="col-xs-12">
          <h1>{{title}}</h1>
          {{post}}
      </div>
    </div>
    <hr>
    <b>Comment:</b><br>
    <div class="col-xs-12">
    <textarea name="post" class="col-xs-12">{{comment}}</textarea><br>
    </div>
    <div class = "col-xs-12">
      <input type="submit" class="submit" value="Comment!"><a href="/">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}
